{% extends 'base.html' %}

{% block title %}
    {{ id_user.username }}の空间
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <img class="img-circle" src="/{{ id_user.icon }}" height="100px" width="100px">
                </div>
                <div class="col-md-10">
                    <h2>
                        {{ id_user.username }}
                    </h2>
                    {% if id_user.motto %}
                        <p>
                            {{ id_user.motto }}
                        </p>
                    {% else %}
                        <p>
                            这个人很懒，什么也没有写
                        </p>
                    {% endif %}
                    <h5>
                        浏览次数 {{ id_user.browse }}
                    </h5>
                </div>
            </div>
        </div>
    </div>



    {% for each in articles %}
        <div style="background-color: aliceblue;" >
            <a href="/blog/{{ each.id }}">
                <h3>{{ each.title }}</h3>
            </a>
            <p>
                {{ each.content |truncatechars:75 }}
            </p>
            <h5>
                {{ each.create_time }} | {{ each.type.title }}
            </h5>
        </div>
        <br>
    {% empty %}
        <h2>
            暂时没有内容
        </h2>
    {% endfor %}


{% endblock %}