{% extends 'base.html' %}

{% block title %}
    {{ id_user.username }}の空间
{% endblock %}

{% block content %}
    <div style="background-color: aliceblue;" class="media">
        <div class="media-left media-middle">
        <a href="#">
            <img class="img-circle" src="/{{ id_user.icon }}" height="100px" width="100px">
        </a>
        </div>
        <div class="media-body">
            昵称：
            <h2 class="media-heading">
                {{ id_user.username }}    
            </h2>
            个性签名：
            <h4>
                {{ id_user.motto }} 
            </h4>
        </div>
    </div>
{% endblock %}