{% extends 'base.html' %}
{% block title %}
    更换
{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" action="/user/upload_icon/" method="post">
        {% csrf_token %}
        <div class="row">
            <br>
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <img class="img-circle" src="/{{ user.icon }}" height="100px" width="100px">
                <br><br>
                <input type="file" name="icon">
                <hr>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <hr>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <button class="center-block">更改信息</button>
        <hr>
    </form>
{% endblock %}