{% extends 'base.html' %}

{% block title %}
    留言
{% endblock %}

{% block content %}
    
    {% if user.is_authenticated %}
        <form id="text_form" action="/board/upload/" method="post" class="form-horizontal">
            {% csrf_token %}
            <textarea id="text_box" name="text" placeholder="畅所欲言吧骚年"
            style="min-height: 100px;min-width: 100%;max-height: 100px;max-width: 100%;"></textarea>
            <br>
            <button type="submit" style="width: 100px;">发布</button>
        </form>
    {% else %}
        <h2>请先登录后发布</h2>
    {% endif %}
    
    <hr>

    <div id="stk">
        {% for each in msgs %}
            <div class="row" style="background-color: aliceblue;">
                <div class="col-md-2">
                    <br>
                    <a href="/user/{{ each.author.id }}" class="center-block">
                        <!--  点击头像，进入空间  -->
                        <img class="media-object" src="/{{ each.author.icon }}" style="height: 100px;width: 100px;">
                    </a>
                    <h4><b>{{ each.author.username }}</b></h4>
                </div>
                <div class="col-md-8">
                    <h5>{{ each.time }}</h5>
                    <hr>
                    <p>{{ each.content }}</p>
                </div>
                <div class="col-md-2"></div>
            </div>
            <br>
        {% empty %}
            <h2 style="color: aliceblue;">
                暂无留言
            </h2>
        {% endfor %}
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        $('#text_form').submit(function(){
            $.ajax({
                url:'/board/upload/',
                type:'POST',
                data:$('#text_form').serialize(),
                cache:false,
                success:function(context){
                    if(context['status'] == 'SUCCESS'){
                        $("#stk").load(location.href + " #stk");
                        // 局部刷新
                        $('#text_box').val('');
                        // 清空输入
                    }
                    if(context['status'] == 'NULL'){
                        alert("提交内容为空");
                    }
                },
            });
            return false;
        	// 中断默认动作
        });
    </script>
{% endblock %}